export(int2fun)
export(rationalfun)
export(rationalfun.poly)
export(rfun)
export(rfun.poly)
export(simplify)
importFrom(polynom, polynomial)
importFrom(polynom, as.polynomial)
importFrom(polynom, is.polynomial)
importFrom(polynom, integral)
importFrom(stats, coef)
importFrom(stats, deriv)
importFrom(stats, predict)
S3method(as.character, rationalfun)
S3method(as.function, rationalfun)
S3method(deriv, rationalfun)
S3method(integral, rationalfun)
S3method(Ops, rationalfun)
S3method(predict, rationalfun)
S3method(print, rationalfun)
